.input {
  border: 1px solid rgb(18, 1, 27);
  background-image: linear-gradient(
    to bottom right,
    var(--mantine-color-black) 20%,
    #0c0112
  );
}

:root[data-mantine-color-scheme="light"] .input {
  border: 1px solid var(--mantine-color-violet-1);
  background-image: inherit;
}
