a {
  text-decoration: none;
  color: var(--mantine-color-violet-8);
}

a:hover {
  color: var(--mantine-color-violet-3);
}

:root[data-mantine-color-scheme="dark"] a {
  color: var(--mantine-color-violet-3);
}

:root[data-mantine-color-scheme="dark"] a:hover {
  color: var(--mantine-color-violet-5);
}
