.paper {
  background-image: linear-gradient(
    to bottom right,
    var(--mantine-color-black) 10%,
    #0c0112
  );
  cursor: pointer;
}

:root[data-mantine-color-scheme="light"] .paper {
  background-image: inherit;
  background-color: var(--mantine-color-violet-0);
}
