code {
  padding: 1em;
  border: 1px solid #eee;
}

div[data-rehype-pretty-code-title] {
  font-size: 1.2em;
  font-weight: 700;
}

figcaption {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-style: italic;
}

:root[data-mantine-color-scheme="dark"] code {
  border: 1px solid #000;
}

pre {
  overflow-x: auto;
  margin: 0;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0, 1rem;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  border-radius: 8px;
}

:root[data-mantine-color-scheme="dark"] {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    border-radius: 8px;
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}
