code {
  padding: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 4px;
}

div[data-rehype-pretty-code-title] {
  font-size: 1.2em;
  font-weight: 700;
}

:root[data-mantine-color-scheme="light"] blockquote {
  font-style: italic;
  margin: 0;
  padding: 1rem;
  border-radius: 8px;
  color: var(--mantine-color-gray-7);
  background-color: var(--mantine-color-gray-0);
}

:root[data-mantine-color-scheme="dark"] blockquote {
  font-style: italic;
  margin: 0;
  padding: 1rem;
  border-radius: 8px;
  color: var(--mantine-color-gray-5);
  background-color: var(--mantine-color-gray-9);
}

figcaption {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: var(--mantine-color-gray-6);
  font-style: italic;
}

:root[data-mantine-color-scheme="dark"] .blog img {
  background: var(--mantine-color-gray-1);
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

:root[data-mantine-color-scheme="light"] .blog img {
  background: var(--mantine-color-violet-0);
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

pre {
  overflow-x: auto;
  margin: 0;

  padding: 1rem 0;
}

pre [data-line] {
  padding: 0, 1rem;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

:root[data-mantine-color-scheme="dark"] {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

:root[data-mantine-color-scheme="dark"] figure[data-rehype-pretty-code-figure] {
  padding: 1rem;
  background-color: #262335;
  border-radius: 8px;
  border: 1px solid #000;
}

figure[data-rehype-pretty-code-figure] {
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #eee;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}
